// HEDAER

.index-header {
    background-image: url(../img/0ana-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 25px;
    background-size: cover;
    height: 650px;
    margin-bottom: 20px; 

    .descripcion {
        display: flex;
        justify-content: center;

        h1 {
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: 'Bebas Neue', cursive;
            font-size: 1.8rem;
            padding: 5px;
            width: 70%;
            height:fit-content;
            margin-top: 3rem;
            border-radius: 5px;
            box-shadow: 0 0 22px black;
        }
    }
    
}



// MAIN - IFRAME

.index-iframe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;

    h2 {
        color: white;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 5vw;
        padding: 5px 10px;
        box-shadow: 0 0 14px black;
        border-radius: 15px;
        width: 60%;
    }

    iframe {
        width: 85%;
    }
}
@media screen and (max-width: 767px) {
    .index-iframe iframe {
        min-height: 220px;
    }
}
@media screen and (min-width: 768px) {
    .index-iframe iframe {
        min-height: 380px;
    }
}
@media screen and (min-width: 1200px) {
    .index-iframe iframe {
        min-height: 500px;
    }
}



// MAIN - REDES

.index-redes {
    margin-top: 15px;

    h3 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 3.2vw;
        margin: 0 0 25px 0;
        text-align: start;
    }

    i {
        display: inline-block;
        padding: 0 19px;
        border-radius: 47%;
        transition: all 0.3s;
    }
    i:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 10px white;
    }

    .bi {
        font-size: 8vw;
        text-decoration: none;   
        color: rgb(0, 0, 0);
    }
}

.index-redes .ig-i:hover {color: map-get($colores, ig);}
.index-redes .tw-i:hover {color: map-get($colores, tw);}
.index-redes .fb-i:hover {color: map-get($colores, fb);}
.index-redes .spo-i:hover {color:map-get($colores, spo);}
.index-redes .yt-i:hover {color:map-get($colores, yt);}

@media screen and (max-width: 575px) {
    .index-redes h3 {
        text-align: center;
        font-size: 6vw;
    }

    .index-redes .bi {
        margin: 10px 0;
        font-size: 15vw;
    }
}



// MAIN - SPOTY

.index-spoty {
    margin-top: 20px;
    margin-bottom: 20px;
    
    h3 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 3.2vw;
        text-align: start;
    }
}

@media screen and (max-width: 575px) {
    .index-spoty h3 {
        text-align: center;
        font-size: 6vw;
    }
}



// MAIN - BOTONES

.index-btn {
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        @include btn-ana;
    }
    
    a:hover {
        @include btn-ana-hover;
    }
}

@media screen and (max-width: 575px) {
    .index-btn a {
        font-size: 6vw;
    }
}



