.calendario-main-cont {
    width: 80%;
    margin: 0 auto;

    .calendario-titulo { 
        @include page-titulo;
        // /* padding: 5px; */
        // margin-top: 25px;
        // box-shadow: 0 4px white;
        // color: white;
        // font-size: 6vw;
        // font-family: $font;
        // text-align: center;
        // border-radius: 15px;
    }

    @media screen and (max-width: 767px) {
        .calendario-titulo {
            font-size: 3rem;
        }
    }

    .calendario-evento-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        padding: 20px;
        box-shadow: 0 0 14px black;
        border-radius: 15px;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(200, 0, 0);
            box-shadow: 0 0 8px black;
            border-radius: 5px;
            padding: 5px;
            width: 90%;

            a {
                text-decoration: none;
                color: white;
                font-size: 3vw;
            }

            img {
                width: 400px;
            }
        }
       

        .calendario-redes-cont {
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            margin-top: 15px ;
            color: black;
            font-size: 4vw;
            border: 5px inset black;

            a {
                color: black;
                font-size: 5vw;
            }

            .ig-i {
                transition: all 0.3s;
            }

            .ig-i:hover {
                color: map-get($colores, ig)
            }

            .fb-i {
                transition: all 0.3s;
            }

            .fb-i:hover {
                color: map-get($colores, fb)
            }

            .map-i {
                transition: all 0.3s;
            }

            .map-i:hover {
                color: map-get($colores, map)
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .calendario-evento-cont img {
        width: 330px;
    }
}