// Fuentes -->

$font: 'Bebas Neue', cursive;
$font-footer: Arial, Helvetica, sans-serif;


// Colores -->

$area-current: white;
$colores: (
    ig: rgb(130,58,180),
    tw: rgb(29,161,242),
    fb: rgb(59,89,152),
    spo: rgb(129,183,26),
    yt: rgb(196,48,43),
)
